<mat-card>
  <mat-card-header>
      <mat-card-title><h2 class="mat-h2"><mat-icon *ngIf="icon">{{icon}}</mat-icon>&nbsp;{{cardTitle}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-table mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
            
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> {{headerColumns[0]}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
            </ng-container>
        
            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> {{headerColumns[1]}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
    </div>
  </mat-card-content>
</mat-card>
