.header-section {
    text-align: center;
    padding-top: 60px;
}

.header-headline {
    color: #000;
}

.header-start {
    text-align: center;
    margin: 30px 0;
}

.avatar {
    height: 120px;
    border-radius: 50%;
}

.linkedin {
    background: #0077b5;
    color: #fff;
}

.twitter {
    background: #00aced;
    color: #fff;
}

.github {
    background: #000;
    color: #fff;
}

.stackOverflow {
    background: rgb(250, 250, 251);
    color: #000;
}

.key {
    background: rgb(250, 250, 251);
    color: #000;
}

.medium-com {
    background: #fff;
    color: #000;
}

.bio {
    text-align: left;
}

.normal-text {
    text-align: left;
}

.social-links {
    font-size: 22px;
}